<%- include ('partials/header') -%>

    <div class="ui main text container segment">
        <div class="ui huge header"><%= article.title %></div>
        <div class="ui top attacheed segment">
            <div class="item">
                <img class="ui centered rounded image" src="<%= article.image %>">
            </div>
        </div>
        <div class="description">
            <h3><%= article.body%></h3> 
            
    <a href="/news/<%= article._id %>/comments/new" class="big ui button green inverted"> Оставить отзыв</a>
        </div >
        <h1>sdxftgyujkjhgf</h1>
        <% article.comments.forEach(function(comment){ %>
            <p>
                <strong><%= comment.auther.username %></strong> - <% comments.text %> 
            </p>
       <% }) %>
    </div>  



<%- include ('partials/footer') -%>